#firstpara{
    background-color: green;
}
#secondpara{
    background-color: yellow;
}
.font{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}