nav ul li {
    background-color: yellow;

    /* display: block; */

    /* list-style: devanagari; */

    /* list-style: none; */

    list-style-position: inside;

    border: 2px solid black;

    /* list-style-image: url(/Images/10.jpg); */

    list-style-type: "➡️";
    
    /* list-style: disc inside; */

}